{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_laaudit/evidence_set
    Template for evidence_set.
    Context variables required for this template:
    - id
    - name
    - timecreationstarted
    - indicators
    - analysisinterval
    - predictionsprocessor
    - contextids
    - timecreationfinished
    Example context (json):
    {
            "id": 1,
            "name": "AutoSet",
            "timecreationstarted": "1679987403",
            "indicators": ["someindicator"],
            "analysisinterval": "quarters",
            "predictionsprocessor": "php",
            "contextids": [1, 2, 3],
            "timecreationfinished": null
      }
}}
<h5>version {{name}}</h5>
<ul class="description p-0 list-unstyled">
    <li class="course-description-item config-info"><strong>{{#str}}versionid, tool_laaudit{{/str}}</strong> {{id}}</li>
    <li class="course-description-item config-info"><strong>{{#str}}started, tool_laaudit{{/str}}</strong> {{timecreationstarted}}</li>
    <li class="course-description-item config-info"><strong>{{#str}}finished, tool_laaudit{{/str}}</strong> {{timecreationfinished}}</li> <!-- Todo: only if available? -->
    <li class="course-description-item config-info"><strong>{{#str}}predictionsprocessor, tool_laaudit{{/str}}</strong> {{predictionsprocessor}}</li>
    <li class="course-description-item config-info"><strong>{{#str}}analysisinterval, tool_laaudit{{/str}}</strong> {{analysisinterval}}</li>
    <li class="course-description-item config-info"><strong>{{#str}}contexts, tool_laaudit{{/str}}</strong> {{contextids}}</li> <!-- Todo: Works? -->
    <li class="course-description-item config-info"><strong>{{#str}}indicators, tool_laaudit{{/str}}</strong> {{indicators}}</li> <!-- Todo: Works? -->
</ul>