{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lala/model_configuration
    Template for model configuration item.
    Context variables required for this template:
    - id: int - model config unique identifier
    - name: string - name of the model config
    - target: string - name of the target associated with the model config
    - modelanalysabletype: string - name of the analysable type associated with the model config
    - predictionsprocessor
    - analysisinterval
    - defaultcontextids
    - indicators
    - buttons: [{}]
    - versions: [{}]
    Example context (json):
    {
            "id": 1,
            "name": "model4",
            "target": "Prevent devs at risk",
            "modelanalysabletype": "user_enrolments",
            "predictionsprocessor": "php",
            "analysisinterval": "quarters",
            "defaultcontextids": [1, 2, 3],
            "firstindactor": "someindicator",
            "indicators": ["someindicator"],
            "buttons": [{
                "method" : "post",
                "url" : "/config/1/version",
                "label" : "automatically create new evidence collection"
            }],
            "versions": [{
                "description": {
                    "id": 1,
                    "name": "AutoSet",
                    "timecreationstarted": "1679987403",
                    "contextids": [1, 2, 3],
                    "timecreationfinished": null,
                    "timecreationfinishedicon": "half"
                },
                "evidence": [{
                    "id": 1,
                    "name": "training data",
                    "timecreationstarted": "1679987403",
                    "timecreationfinished": "1679987953",
                    "serializedfilelocation": "/evidencecollections/1"
                }]
            }]
    }
}}
<section class="activity activity-wrapper my-2" aria-label="config{{id}}">
    <div class="activity-item">
        <div class="activity-basis d-flex w-100 align-items-center flex-column flex-md-row align-self-start">
            <h3 class="activity-instance activity-title">
                <span title="{{#str}}model, tool_lala{{/str}}" id="config{{id}}">{{name}}</span>
            </h3>
            <div class="activity-info mt-1 mt-md-0">{{#buttons}}{{> core/single_button}}{{/buttons}}</div>
        </div>
        <div class="bg-light p-3 rounded small mb-3">
            <ul class="p-0 list-unstyled row mb-0">
                <li class="col-12 col-sm-5" title="{{#str}}target, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt  class="mb-0 col-auto pr-0">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </dt>
                        <dd  class="mb-0 col pl-2">
                            {{target}}
                        </dd>
                    </dl>
                </li>
                <li class="col col-sm" title="{{#str}}analysable, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt  class="mb-0 col-auto pr-0">
                            <i class="fa fa-binoculars" aria-hidden="true"></i>
                        </dt>
                        <dd  class="mb-0 col pl-2">
                            {{modelanalysabletype}}
                        </dd>
                    </dl>
                </li>
                <li class="col-12 col-sm-5" title="{{#str}}predictionsprocessor, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt class="mb-0 col-auto pr-0">
                            <i class="icon fa fa-server" aria-hidden="true"></i>
                        </dt>
                        <dd   class="mb-0 col pl-0">
                            {{predictionsprocessor}}
                        </dd>
                    </dl>
                </li>
                <li class="col-12 col-sm" title="{{#str}}analysisinterval, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt class="mb-0 col-auto pr-0">
                            <i class="icon fa fa-arrows-h" aria-hidden="true"></i>
                        </dt>
                        <dd  class="mb-0 col pl-0">
                            {{analysisinterval}}
                        </dd>
                    </dl>
                </li>
                <li class="col-12 row mb-0 ml-0" title="{{#str}}defaultcontexts, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt class="mb-0 col-auto pr-0">
                            <i class="icon fa fa-graduation-cap" aria-hidden="true"></i>
                        </dt>
                        <dd class="mb-0 col pl-0">
                            {{defaultcontextids}}
                        </dd>
                    </dl>
                </li>
                <li class="col-12 row mb-0 ml-0"  title="{{#str}}indicators, tool_lala{{/str}}">
                    <dl class="row mb-0">
                        <dt class="mb-0 col-auto pr-0">
                            <i class="icon fa fa-bar-chart" aria-hidden="true"></i>
                        </dt>
                        <dd class="mb-0 col pl-0">
                            {{firstindicator}}
                            {{#indicators}}
                                <a class="collapse multi-collapseindicators{{id}} show text-dark bg-secondary rounded-right ml-1 text-nowrap" data-toggle="collapse" href=".multi-collapseindicators{{id}}" role="button" aria-expanded="false" aria-controls="indicators{{id}} moreindicators{{id}}" id="moreindicators{{id}}">
                                    <span class="px-2">display more</span>
                                </a>
                                <span class="collapse multi-collapseindicators{{id}}" id="indicators{{id}}">
                                    {{indicators}}
                                    <a class="text-dark bg-secondary rounded-left ml-1 text-nowrap" data-toggle="collapse" href=".multi-collapseindicators{{id}}" role="button" aria-expanded="true" aria-controls="indicators{{id}} moreindicators{{id}}">
                                       <span class="px-2">display less</span>
                                    </a>
                                </span>
                            {{/indicators}}
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div>
            <ul class="p-0 list-unstyled">
                {{#versions}}
                    <li>
                        {{> tool_lala/model_version}}
                    </li>
                {{/versions}}
            </ul>
        </div>
    </div>
</section>