{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_laaudit/evidence_set
    Template for evidence_set.
    Context variables required for this template:
    - id
    - name
    - timecreationstarted
    - indicators
    - analysisinterval
    - predictionsprocessor
    - contextids
    - timecreationfinished
    - timecreationfinishedicon
    - haserror
    - errormessage
    Example context (json):
    {
            "id": 1,
            "name": "default",
            "timecreationstarted": "1679987403",
            "indicators": ["someindicator"],
            "analysisinterval": "quarters",
            "predictionsprocessor": "php",
            "contextids": [1, 2, 3],
            "timecreationfinished": null,
            "timecreationfinishedicon": 'half',
            "haserror": false,
            "errormessage": "some error description",
      }
}}
<h4>
    <span title="{{#str}}version, tool_laaudit{{/str}}">{{name}}</span>
    <span class="badge rounded-pill bg-light ml-2 position-absolute start-0" title="{{#str}}versionid, tool_laaudit{{/str}}">
           <i class="icon fa fa-key" aria-hidden="true"></i>{{id}}
    </span>
</h4>

<div class="bg-light p-3 rounded small mb-1 mx-0">
    <ul class="p-0 list-unstyled list-group list-group-horizontal">
        <li class="col-sm-5" title="{{#str}}started, tool_laaudit{{/str}}">
            <dl class="row mb-0">
                <dt  class="mb-0">
                    <i class="icon fa fa-hourglass-start col-sm-0" aria-hidden="true"></i>
                </dt>
                <dd  class="mb-0 px-1 col-sm">
                    {{timecreationstarted}}
                </dd>
            </dl>
        </li>
        <li class="col-sm" title="{{#str}}finished, tool_laaudit{{/str}}">
            <dl class="row mb-0">
                <dt  class="mb-0 col-sm-0">
                    <i class="icon fa fa-hourglass-{{timecreationfinishedicon}}" aria-hidden="true"></i>
                </dt>
                <dd  class="mb-0 px-1 col-sm">
                    {{timecreationfinished}}
                </dd>
            </dl>
        </li> <!-- Todo: only if available? -->
    </ul>
    <ul class="p-0 list-unstyled list-group list-group-horizontal">
        <li class="col-sm-5" title="{{#str}}predictionsprocessor, tool_laaudit{{/str}}">
            <dl class="row  mb-0">
                <dt   class="mb-0 col-sm-0">
                    <i class="icon fa fa-server" aria-hidden="true"></i>
                </dt>
                <dd   class="mb-0 px-1 col-sm">
                    {{predictionsprocessor}}
                </dd>
            </dl>
        </li>
        <li class="col-sm" title="{{#str}}analysisinterval, tool_laaudit{{/str}}">
            <dl class="row  mb-0">
                <dt  class="mb-0 col-sm-0">
                    <i class="icon fa fa-arrows-h" aria-hidden="true"></i>
                </dt>
                <dd  class="mb-0 px-1 col-sm">
                    {{analysisinterval}}
                </dd>
            </dl>
        </li>
    </ul>
    <ul>
        <dl class="row  mb-0"  title="{{#str}}contexts, tool_laaudit{{/str}}">
            <dt class="mb-0 col-sm-0">
                <i class="icon fa fa-graduation-cap" aria-hidden="true"></i>
            </dt>
            <dd class="mb-0 px-1 col-sm">
                {{contextids}}
            </dd>
        </dl>
        <dl class="row  mb-0" title="{{#str}}indicators, tool_laaudit{{/str}}">
            <dt class="mb-0 col-sm-0">
                <i class="icon fa fa-bar-chart" aria-hidden="true"></i>
            </dt>
            <dd class="mb-0 px-1 col-sm">
                {{indicators}}
            </dd>
        </dl>
        {{#haserror}}
            <dl class="row mb-0 danger" title="{{#str}}error, tool_laaudit{{/str}}">
                <dt class="mb-0 col-sm-0">
                    <i class="icon fa fa-exclamation-triangle" aria-hidden="true"></i>
                </dt>
                <dd class="mb-0 px-1 col-sm">
                    {{errormessage}}
                </dd>
            </dl>
        {{/haserror}}
    </ul>
</div>
