{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_laaudit/model_configuration
    Template for model configuration item.
    Context variables required for this template:
    - id: int - model config unique identifier
    - modelname: string - name of the model config
    - modelid: int - model id
    - target: string - name of the target associated with the model config
    - versions: currently an array of version ids (int)
    - buttons: [{}]
    - versions: [{}]
    Example context (json):
    {
            "id": 1,
            "modelid": 4,
            "modelname": "model4",
            "modeltarget": "Prevent devs at risk",
            "buttons": [{
                "method" : "post",
                "url" : "/config/1/version",
                "label" : "automatically create new evidence collection"
            }],
            "versions": [{
                "description": {
                    "id": 1,
                    "name": "AutoSet",
                    "timecreationstarted": "1679987403",
                    "indicators": ["someindicator"],
                    "analysisinterval": "quarters",
                    "predictionsprocessor": "php",
                    "contextids": [1, 2, 3],
                    "timecreationfinished": null,
                    "timecreationfinishedicon": "half"
                },
                "evidence": [{
                    "id": 1,
                    "name": "training data",
                    "timecreationstarted": "1679987403",
                    "timecreationfinished": "1679987953",
                    "serializedfilelocation": "/evidencecollections/1"
                }]
            }]
    }
}}
<li class="activity activity-wrapper">
    <div class="activity-item">
        <div class="activity-basis d-flex w-100 align-items-center flex-column flex-md-row align-self-start">
            <h3 class="activity-instance activity-title d-flex flex-column">{{modelname}}</h3>
            <div class="activity-info mt-1 mt-md-0">{{#buttons}}{{> core/single_button}}{{/buttons}}</div>
        </div>
        <div class="bg-light p-3 rounded small mb-3">
            <ul class="p-0 list-unstyled list-group list-group-horizontal">
                <li class="col-sm-2">
                    <dl class="row mb-0">
                        <dt  class="mb-0 col-sm-0">
                            <i class="icon fa fa-cogs" aria-hidden="true" title="{{#str}}modelid, tool_laaudit{{/str}}"></i>
                        </dt>
                        <dd  class="mb-0 col-sm">
                            {{modelid}}
                        </dd>
                    </dl>
                </li>
                <li class="col-sm">
                    <dl class="row mb-0">
                        <dt  class="mb-0 mr-2 col-sm-0">
                            <i class="fa fa-bullseye" aria-hidden="true" title="{{#str}}target, tool_laaudit{{/str}}"></i>
                        </dt>
                        <dd  class="mb-0 col-sm">
                            {{modeltarget}}
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div>
            <ul class="p-0 list-unstyled">
                {{#versions}}
                    <li>
                        {{> tool_laaudit/model_version}}
                    </li>
                {{/versions}}
            </ul>
        </div>
    </div>
</li>