{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_laaudit/model_configuration
    Template for model configuration item.
    Context variables required for this template:
    - id: int - model config unique identifier
    - name: string - name of the model config
    - modelid: int - model id
    - target: string - name of the target associated with the model config
    - modelanalysabletype: string - name of the analysable type associated with the model config
    - buttons: [{}]
    - versions: [{}]
    Example context (json):
    {
            "id": 1,
            "modelid": 4,
            "name": "model4",
            "target": "Prevent devs at risk",
            "modelanalysabletype": "user_enrolments",
            "buttons": [{
                "method" : "post",
                "url" : "/config/1/version",
                "label" : "automatically create new evidence collection"
            }],
            "versions": [{
                "description": {
                    "id": 1,
                    "name": "AutoSet",
                    "timecreationstarted": "1679987403",
                    "indicators": ["someindicator"],
                    "analysisinterval": "quarters",
                    "predictionsprocessor": "php",
                    "contextids": [1, 2, 3],
                    "timecreationfinished": null,
                    "timecreationfinishedicon": "half"
                },
                "evidence": [{
                    "id": 1,
                    "name": "training data",
                    "timecreationstarted": "1679987403",
                    "timecreationfinished": "1679987953",
                    "serializedfilelocation": "/evidencecollections/1"
                }]
            }]
    }
}}
<li class="activity activity-wrapper">
    <div class="activity-item">
        <div class="activity-basis d-flex w-100 align-items-center flex-column flex-md-row align-self-start">
            <h3 class="activity-instance activity-title">
                <span title="{{#str}}model, tool_laaudit{{/str}}" id="config{{id}}">{{name}}</span>
                <span class="badge rounded-pill bg-light ml-2 position-absolute start-0" title="{{#str}}modelid, tool_laaudit{{/str}}">
                    <i class="icon fa fa-key" aria-hidden="true"></i>{{modelid}}
                </span>
            </h3>
            <div class="activity-info mt-1 mt-md-0">{{#buttons}}{{> core/single_button}}{{/buttons}}</div>
        </div>
        <div class="bg-light p-3 rounded small mb-3">
            <ul class="p-0 list-unstyled list-group list-group-horizontal">
                <li class="col-sm-5" title="{{#str}}target, tool_laaudit{{/str}}">
                    <dl class="row mb-0">
                        <dt  class="mb-0 mr-2 col-sm-0">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </dt>
                        <dd  class="mb-0 px-1 col-sm">
                            {{target}}
                        </dd>
                    </dl>
                </li>
                <li class="col-sm" title="{{#str}}analysable, tool_laaudit{{/str}}">
                    <dl class="row mb-0">
                        <dt  class="mb-0 mr-2 col-sm-0">
                            <i class="fa fa-binoculars" aria-hidden="true"></i>
                        </dt>
                        <dd  class="mb-0 px-1 col-sm">
                            {{modelanalysabletype}}
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div>
            <ul class="p-0 list-unstyled">
                {{#versions}}
                    <li>
                        {{> tool_laaudit/model_version}}
                    </li>
                {{/versions}}
            </ul>
        </div>
    </div>
</li>